/*Product Detail Page*/
.product-detail{
    /* border: 1px solid red;     */
}

/* Product Detail Body */
.product-detail__body{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
}

.product-detail__body__img{
    flex: 1;
    /* border: 1px solid pink; */
}
.product-detail__body__content{
    flex: 2;
    /* border: 1px solid orange; */
    /* align-items: center;
    justify-content: flex-start; */
}

.product-detail__body__content__general{
    /* border: 1px solid black; */
    flex-direction: row;
    display: flex;

}
.product-detail__body__content__general__main{
    /* border: 1px solid grey; */
    /* flex: 1;
    justify-content: flex-start; */
    margin-left: 20px;
    text-align: left;
}
.product-detail__body__content__general__sentiment{
    /* border: 1px solid grey; */
    flex: 3;
}
.product-detail__body__content__cta{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
}
.product-detail__body__content__cta > div{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: bold;
}
.product-detail__body__content__cta > div:nth-child(1){
    background-color: #F4F5F7;
    border: 0.5px solid #006AFE;
    color: #006AFE;
}
.product-detail__body__content__cta > div:nth-child(2){
    background-color: #006AFE;
    border: 0.5px solid #006AFE;
    color: whitesmoke;
}
.product-detail__body__content__description{
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding-left: 20px;
}

