.pl-container {
    padding-left: 50px;
    padding-right: 50px;
    width: 100vw;
}


.pl-filter {
    /* border: 1px solid salmon; */
    display: flex;
    flex-direction: row;
    /* justify-content: left; */
    align-items: center;
    margin-bottom: 20px;
}

.pl-filter>p {
    margin-right: 10px;
    white-space: nowrap;
}

.pl-filter>div>select {

    border: 0.5px solid grey;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.pl-select>select {
    border-radius: 5px;
    outline: none;
    border: 0.5px solid rgba(0, 0, 0, .4);
    height: 30px;
    padding: 5px;
    width: 150px;
    margin-right: 10px;
}

.pl-select>select:focus,
.pl-select>select:active {
    outline: 0.5px solid #f1425d;
    border: 0.5px solid #f1425d;
}

.pl-filter>p {
    font-weight: bold;
}

.pl-list {
    /* border: 1px solid red; */
    display: flex;
    min-height: calc(100vh - 11.25rem);
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 0.3125rem;

}

.pl-list__product {
    border: 0.5px solid rgba(0, 0, 0, .05);
    box-sizing: border-box;
    width: 15%;
    /* height: 400px; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
    margin-right: 3px;
    margin-bottom: 3px;
}

.pl-list__product__under-img {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.pl-list__product__img {
    height: 200px;
    margin-bottom: 10px;
}

.pl-list__product__name {
    flex-grow: 1;
    min-height: 1.75rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: nowrap;
    font-size: 14px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, .87);
}

.pl-list__product__name,
.pl-list__product__under-name {
    display: flex;
    align-items: flex-start;
}

.pl-list__product__under-name {
    align-items: center;
    justify-content: start;
    overflow: hidden;
}



.pl-list__product__under-name__price {
    flex: 2;
    text-align: left;
    color: #f1425d;
}

.pl-list__product__under-name__rating {
    flex: 1;
    text-align: right;
}