@keyframes move {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 4rem);
    }
    100% {
      transform: translate(0, 0);
    }  
  }

.product_detail{
    background-color: rgb(255, 255, 255);
}

.mainpage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    position: relative;
    width: 100%;
    min-width: 320px;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

.product_image {
    max-width: auto;
    max-height: 1000px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.product_image > img{
    display: block;
    position: absolute;
    max-height: 80%;
    width: auto;
    margin: auto;
    transform: translate(0, 0);
    animation-name: move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.product_rightSide{
    text-align: left;
    padding-top: 50px;
    padding-right: 40px;
    max-height: 1000px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.block_model {
    display: inline-block;
    color: #263238;
    font-size: 12px;
    opacity: 0.9; 
}

.block_name {
    width: 100%;
    color: #263238;
    font-weight: 400;
    line-height: 35px; 
}

.block_name__addName {
    margin: 0;
    padding: 0;
    font-size: 50px;
    line-height: 54px;
}

.block_product {
    position: relative;
    width: 100%; 
}

.block_product__advantagesProduct {
    width: 100%;
    height: 41px;
    margin-top: 14px;
    color: #646b6f;
    font-size: 17px;
    line-height: 24px; 
}

.block_descriptionInformation {
    width: 500px;
    height: 100px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #263238;
}

.block_rating {
    width: 100%;
    margin-top: 33px;
    margin-bottom: 10px; 
}

.block_price {
    margin-top: 5px;
    margin-bottom: 25px;
    width: 100%; 
}

.block_price__currency {
    padding: 0;
    margin: 0;
    vertical-align: top;
    color: #f1425d;
    font-size: 26px;
    font-weight: 600; 
}

.block_price__shipping {
    padding: 0;
    margin: 0;
    color: #A2A9AD;
    font-size: 12px; 
}

.button.button_addToCard {
    width: 500px;
    height: 50px;
    margin-top: 12px;
    padding: 0;
    color: #fff;
    background-color: #f1425d;
    font-size: 16px;
    transition: all 0.3s; 
    font-family: 'Montserrat', sans-serif;
}
    
.button.button_addToCard > a{
    text-decoration: none;
    color:#fff;
}

.button.button_addToCard:hover {
    background-color: #fdafaf; 
}

.text{
    display: block;
    color: #263238;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 190px;
}

.share{
    margin:0;
}
.share > ul{
    list-style:none;
    position:relative;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 130px;
    display: flex;
    justify-content: flex-start;
}

.share > ul > li{
    padding: 0 15px;
    /*justify-content: center;*/
}

.share > ul > li >img{
    border: 1px solid grey;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.share > ul > li >a{
    text-decoration: none;
    margin-left: 5px;
    color: #000;
}