*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input, button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
}
.App{
    /* height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-image: linear-gradient(to top right, #7FFFD4, #A52A2A); */
}

    /* background-image: linear-gradient(to top right, #7FFFD4, #A52A2A); */


form{
    display: block;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form::after{
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
  
    background-color: #f1425c75;
    border-radius: 5px;
}
form .form-inner{
    position: relative;
    display: block;
    background-color: #FFF;
    /* background-image: linear-gradient(to top right, #7FFFD4, #A52A2A); */
    padding: 30px;
    z-index: 2;
    border-radius: 5px;
}
form .form-inner h2{
    color: rgb(148, 146, 146);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

font .form-inner .form-group{
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.form-inner .form-group label{
    display: block;
    color:#666;
    font-size: 15px;
    margin-bottom: 5px;
    transition: 0.5s;
}
.form-inner .form-group:focus-within label{
    color:rgb(206, 22, 22);
}

form .form-inner .form-group input{
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color:#f0ecec;
    border-radius: 8px;
    transition: 0.5s;
    margin: 10px;
}
form .form-inner .form-group input:focus{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);

}

form .form-inner input[type="submit"],
.welcome button{
    display: inline-block;
    padding: 15px 15px;
    border-radius: 5px;
    background-color: #f1425d;
    background-size: 150%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
    width: 150px;
    margin: 10px;
}
form .form-inner input[type="submit"]:hover,
.welcome button:hover{
    background-position: 100% 0%;
}
.welcome {
    width: 100%;
    max-width: 480px;
    background-color: #FFF;
    padding: 15px 30px;
}

.welcome h2{
    color: #888;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

.welcome h2 span{
    color:#A52A2A;
    font-weight: 700;
}
.error{
    color: red;
}
.register{
    color: #2E8B57;
}

.image{
    height: 200px;
}

