.commentcontainer {
	width: 100%;
}

.commentprod {
	margin-top: 30px;
	position: relative;
    margin-bottom: 15px;
	display: block;
	position: relative;
}

.commentprod .commentavatar {
	width: 60px;
	height: 60px;
	position: relative;
	z-index: 99;
	float: left;
	border-radius: 32px;
	box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),        -4px -4px 6px 0 rgba(116, 125, 136, .2),        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
	overflow: hidden;
	margin-right: 10px;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
}

.commentprod .commentavatar img {
	width: 100%;
	height: 100%;
}

.commentprod .commentbox{
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
    width: 95%;
	position: relative;
}

.commentbox .commenthead {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #c7c6c6;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
    text-align: center;
}

.commentbox .commentname {
	color: #000;
	font-size: 18px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.commentbox .commenthead span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
    top: 2px;
}

.commentbox .commentscore {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
}

.commentbox .commentcontent {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
    text-align: left;
}

