/* Comment Section */
.product-detail__comment{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    background-color: #000;
}
.product-detail__comment>div{
    /* flex-direction: row; */
    display: flex;
    margin-top: 20px;
}
.product-detail__comment__input>img{
    border: 0.5px solid grey;
    border-radius: 20px;
    width: 40px;
    height: 40px;
}
.product-detail__comment__input>input{
    flex: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 100%;
    padding-left: 10px;
    outline-color: #006AFE;
}
.product-detail__comment__input>p{
    color: #fff;
    padding-left: 10px;
    padding-right: 20px;
}