header .logo{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    cursor: pointer;
}

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page{
    margin-left: 35px;
    margin-top: 30px;
    position:relative;
    width: 95%;
    min-height: 90vh;
    padding: 100px;
    display:flex;
    justify-content: center;
    background: #f1425c75;
    align-items: center;
    border-radius: 30px;
}

header{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    font-weight: 500;
    margin-left: 40px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

header ul li a:hover{
    color: #f1425d;
    transition: 0.5s;
}

.content{
    position: absolute;
    /* width: 95%; */
    /* display: flex; */
    justify-content: space-between; 
    align-items: center;
    margin-top: 100px;
}

.content .text{
    position: relative;
    max-width: 600px;
    font-size: 18px;
}
.content .text h2{
    text-transform: uppercase;
}

.sci{
    top:0;
    left:0;
    margin-left: 285px;
    width:40%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.sci li:hover{
    transform: translate(5px,-5px);
    cursor: pointer;
    transition: 0.5s;
}


